.App {
  text-align: center;
}

table {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
table thead{
  width: 100%;
}
table tr {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
table  th{
  background-color: #666;
  flex-grow: 1;
}